@media only screen and (max-width: 767px) {
    /* navbar */
    .navbar-brand {
        margin-top: 0;
        margin-left: 0;
    }
    .navbar-brand img {
        width: 100%;
    }

    .navbar-company-name {
        display: none;
    }

    /* footer */
    .copyright p {
        font-size: 13px;
        line-height: 20px;
    }
    .scroll-top {
        margin-top: 30px !important;
    }
    .scroll-top a {
        padding: 20px !important;
    }

    /* section divider */
    .section-divider-text {
        text-align: center;
    }
    .section-divider-text h5 {
        font-size: 15px;
        line-height: 23px;
    }
    .section-divider-text h3 {
        font-size: 25px;
        line-height: 38px;
    }
}